
@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../fonts/sf-pro-display_regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico-Regular.ttf);
    font-weight: 400;
}





