html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*/ HTML5 display-role reset for older browsers /*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #fff;
  font-family: 'poppins', sans-serif;
  color: #000000;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
img {
  max-width: 100%;
}
strong {
  font-weight: 600;
}
a {
  color: #CC8209;
  text-decoration: none;
  transition: background-color 0.4s ease 0s, border 0s ease 0s, color 0.4s ease 0s, opacity 0.4s ease-in-out 0s;
  font-family: 'poppins', sans-serif;
}
button {
  font-family: 'poppins', sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2 {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
}
h3,
h4 {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
}
p {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}
/*  */
/* bg color variable */
/* Primary color variables */
/* Content color variable */
body {
  background-color: #fff;
}
.primaryText {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #4C4C4C;
  padding-bottom: 0px;
}
@media only screen and (max-width: 1024px) {
  .primaryText {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .primaryText {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  .primaryText {
    font-size: 18px;
    line-height: 29px;
  }
}
.section_padding {
  padding: 80px 0px;
}
.section_padding.bottom_zero {
  padding-bottom: 0px;
}
.section_padding.form_top_space {
  padding-top: 30px;
}
.section_padding.top_zero {
  padding-top: 0px;
}
.primary_cta {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border: 1px solid #A26301;
  padding: 10px 15px;
  box-sizing: border-box;
  color: #A26301;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  min-width: 10em;
  text-align: center;
  transition: 0.3s ease-in;
}
.primary_cta:hover {
  background-color: #A26301;
  color: #fff;
}
@media only screen and (max-width: 1024px) {
  .primary_cta {
    font-size: 15px;
    line-height: 19px;
    padding: 8px 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .primary_cta {
    font-size: 17px;
    line-height: 25px;
    padding: 10px 10px;
  }
}
.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-row-gap: 45px;
  grid-column-gap: 35px;
}
@media only screen and (max-width: 1024px) {
  .grid_3 {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 25px;
  }
}
@media screen and (min-width: 650px) and (max-width: 768px) {
  .grid_3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .grid_3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  .grid_3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.primary_text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #4C4C4C;
  padding-bottom: 0px;
}
@media only screen and (max-width: 1024px) {
  .primary_text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .primary_text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  .primary_text {
    font-size: 18px;
    line-height: 29px;
  }
}
.primary_text.center {
  text-align: center;
}
.primary_title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
  color: #1B1B1B;
  text-transform: uppercase;
  letter-spacing: 6.72px;
}
@media only screen and (max-width: 1024px) {
  .primary_title {
    font-size: 25px;
    line-height: 36px;
    padding-bottom: 10px;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .primary_title {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  .primary_title {
    font-size: 40px;
    line-height: 50px;
  }
}
.secondary_title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #38464E;
}
@media only screen and (max-width: 1024px) {
  .secondary_title {
    font-size: 16px;
    line-height: 24px;
  }
}
.main_container {
  max-width: 1600px;
  margin: auto;
  padding: 0px 30px;
  box-sizing: border-box;
}
@media screen and (min-width: 200px) and (max-width: 1440px) {
  .main_container {
    padding: 0px 25px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .main_container {
    width: 93%;
  }
}
.primarybg {
  background-color: #FDF9F3;
}
.form_bg {
  background-color: #FEFBF8;
}
@media only screen and (max-width: 1024px) {
  .section_padding {
    padding: 40px 0px;
  }
  .form_bg {
    background-color: #FEFBF8;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section_padding {
    padding: 60px 0px;
  }
}
.delivery_txt {
  background-color: #FFFF;
  padding: 12px;
  text-align: center;
  transition: all 600ms ease;
}
.delivery_txt p {
  color: #4D4D4D;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
}
.delivery_txt a {
  color: #C5203C;
  font-weight: 500;
}
.header_container {
  max-width: 1900px;
  width: 100%;
  margin: auto;
}
.bg_header {
  background-color: rgba(255, 255, 255, 0.9);
}
.home_page .page-header {
  position: fixed;
  top: 0px;
  width: 100%;
}
.page-header {
  z-index: 99;
  position: fixed;
  top: 0px;
  width: 100%;
}
.page-header.remove_space {
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.page-header.remove_space .delivery_txt {
  display: none;
}
.page-header.remove_space .nav-section {
  padding: 15px 25px;
  top: 0px;
  transition: all 0.3s linear;
}
.page-header.remove_space .nav-section .nav-section-logo img {
  width: 150px;
  transition: all 600ms ease;
}
.page-header.remove_space .nav-section .nav-section-right {
  gap: 20px;
  transition: all 300ms ease;
}
.page-header.remove_space .nav-section .nav-section-left {
  gap: 20px;
  transition: all 300ms ease;
}
.page-header .nav-section {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}
.page-header .nav-section.zero_top {
  top: 0px;
}
.page-header .nav-section .nav-section-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.page-header .nav-section .nav-section-left .nav_bar {
  justify-content: flex-start;
}
.page-header .nav-section .nav-section-left .nav-section-filter {
  display: flex;
  align-items: center;
  min-height: 38px;
}
.page-header .nav-section .nav-section-dropdown select {
  border: 0px;
  background-color: transparent;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
  font-family: 'poppins', sans-serif;
  appearance: none;
  background-image: url("../images/select_arrow.png");
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 10px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.page-header .nav-section .mobile_dropdown {
  display: none;
}
.page-header .nav-section .nav-section-logo {
  text-align: center;
}
.page-header .nav-section .nav-section-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
}
.page-header .nav-section .nav-section-right .nav_bar {
  justify-content: flex-end;
}
.page-header .nav-section .nav-section-right .nav-section-ctas {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: end;
}
.page-header .nav-section .nav-section-right .nav-section-ctas .call_cta a {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 23px;
  color: #000000;
  text-transform: uppercase;
}
.page-header .nav-section .nav-section-right .nav-section-ctas .search_field {
  border: 1px solid #000000;
  border-radius: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
}
.page-header .nav-section .nav-section-right .nav-section-ctas .search_field img {
  cursor: pointer;
}
.page-header .nav-section .nav-section-right .nav-section-ctas .search_field input {
  width: calc(100% - 10%);
  background-color: transparent;
  border: 0px;
  outline: none;
  color: #000000;
  font-size: 15px;
  line-height: 17px;
}
.page-header .nav-section .nav-section-right .nav-section-ctas .search_field input::placeholder {
  color: #000000;
}
.page-header .nav-section .nav-section-right .navigation .close_side_bar {
  display: none;
}
.page-header .nav-section .nav-section-right .navigation li:first-child {
  padding-left: 0px;
}
.page-header .nav-section .nav-section-right .navigation li:last-child {
  padding-right: 20px;
}
.page-header .nav-section .navigation .close_side_bar {
  display: none;
}
.page-header .nav-section .navigation .nav_bar {
  display: flex;
  gap: 45px;
}
.page-header .nav-section .navigation .nav_bar.category {
  display: none;
}
.page-header .nav-section .navigation .nav_bar li a {
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}
.page-header .nav-section .navigation .nav_bar li a:hover {
  color: #C5203C;
}
.page-header .nav-section .navigation .nav_bar li:first-child {
  padding-left: 25px;
}
.page-header .block-minicart .dialog_top_cnt .primary_title {
  font-size: 36px;
  line-height: 46px;
  color: #2C2C2C;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 500;
  padding-bottom: 50px;
  text-transform: capitalize;
}
.page-header .block-minicart .quantity .input-box {
  padding: 6px 15px;
  -moz-width: 50px;
}
.page-header .block-minicart .product {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}
.page-header .block-minicart .product .product-item-name h3 {
  font-size: 24px;
  line-height: 38px;
  color: #313131;
  padding-bottom: 25px;
}
.page-header .block-minicart .product .product-item-details {
  flex: 1;
}
.page-header .block-minicart .product .product-item-details .details-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  gap: 10px;
}
.page-header .block-minicart .product .product-item-details .price_remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header .block-minicart .product .product-item-details .price_remove .product-item-pricing {
  flex: 1;
}
.page-header .block-minicart .product .product-item-details .price_remove .product-item-pricing .price {
  font-weight: 600;
  color: #121212;
}
.page-header .block-minicart .product .product-item-details .price_remove .secondary {
  flex: 1;
  text-align: center;
}
.page-header .block-minicart .product .product-item-details .price_remove .secondary a span {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #131313;
}
.page-header .block-minicart .faq_acc.mini_cart_acc .faq_acc_li .accordion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  border: 0px;
  border-block: 1px solid #d4d4d4;
  background-color: #fff;
  padding-left: 0px;
  cursor: pointer;
}
.page-header .block-minicart .faq_acc.mini_cart_acc .faq_acc_li .accordion.active {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.page-header .block-minicart .faq_acc.mini_cart_acc .faq_acc_li:last-child .accordion {
  border: 0px;
}
.page-header .block-minicart .faq_acc.mini_cart_acc .faq_acc_li.active-li .panel {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 10px;
}
.page-header .block-minicart .faq_acc.mini_cart_acc .faq_acc_li .panel {
  display: none;
}
.page-header .block-minicart .note {
  padding-top: 20px;
}
.page-header .block-minicart .note .primary_text {
  color: #000;
  font-weight: 500;
  padding-bottom: 25px;
}
.page-header .block-minicart .note .checkbox_note {
  padding-bottom: 35px;
}
.page-header .block-minicart .note .checkbox_note input {
  width: 20px;
}
.page-header .block-minicart .note .checkbox_note label {
  color: #3C3C3C;
  font-weight: 400;
}
.page-header .block-minicart .note .checkbox_note label a {
  color: #1B1B1B;
  font-weight: 500;
  text-decoration: underline;
}
.page-header .block-minicart .actions button {
  width: 100%;
  color: #fff;
  background: #CC8209;
  margin-bottom: 20px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.page-header .block-minicart .actions a {
  display: block;
  text-align: center;
  color: #CC8209;
}
@media only screen and (max-width: 1024px) {
  .delivery_txt {
    background-color: #FFFF;
    padding: 8px;
    text-align: center;
    padding-bottom: 0px;
  }
  .delivery_txt p {
    font-size: 14px;
  }
  .delivery_txt span {
    display: none;
  }
  .delivery_txt a {
    color: #C5203C;
    font-weight: 500;
  }
  .page-header.remove_space .nav-section .nav-section-logo img {
    width: 35px;
  }
  .page-header .nav-section {
    padding: 15px 25px ;
    display: flex;
    justify-content: normal;
    gap: 5px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  .page-header .nav-section .nav-section-left {
    flex: 1;
  }
  .page-header .nav-section .nav-section-left .nav-section-filter {
    display: flex;
    align-items: center;
  }
  .page-header .nav-section .nav-section-left .nav-section-filter .hum_menu img {
    width: 22px;
  }
  .page-header .nav-section .nav-section-left .nav-section-filter .nav-section-dropdown {
    display: none;
  }
  .page-header .nav-section .nav-section-logo {
    flex: 1;
  }
  .page-header .nav-section .nav-section-logo img {
    width: 50px;
    transition: 0.3s ease-in;
  }
  .page-header .nav-section .nav-section-dropdown select {
    padding-left: 0px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .page-header .nav-section .mobile_dropdown {
    display: block;
    width: 100%;
    text-align: center;
  }
  .page-header .nav-section .nav-section-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas img {
    width: 22px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .call_cta {
    display: none;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field {
    border: 0px solid #000000;
    border-radius: 0px;
    padding: 0px 0px;
    width: 22px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field input {
    display: none;
    background-color: transparent;
    border: 0px;
    outline: none;
    color: #000000;
    font-size: 15px;
    line-height: 17px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field input::placeholder {
    color: #000000;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field input.visible {
    display: block;
    position: absolute;
    top: 85%;
    left: 0px;
    transform: translate(0%, -50%);
    z-index: 2;
    max-width: 100%;
    width: 100%;
    border: 1px solid #0000;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  .page-header .nav-section .nav-section-right .navigation {
    display: none;
  }
  .page-header .nav-section .nav-section-right .navigation li:first-child {
    padding-left: 0px;
  }
  .page-header .nav-section .nav-section-right .navigation li:last-child {
    padding-right: 0px;
  }
  .page-header .nav-section .navigation {
    display: none;
  }
  .page-header .nav-section .navigation .close_side_bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .page-header .nav-section .navigation .close_side_bar svg {
    width: 20px;
  }
  .page-header .nav-section .navigation .nav_bar {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .page-header .nav-section .navigation .nav_bar.category {
    display: flex;
    padding-top: 20px;
  }
  .page-header .nav-section .navigation .nav_bar li a {
    font-size: 16px;
    line-height: 23px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
  }
  .page-header .nav-section .navigation .nav_bar li:first-child {
    padding-left: 0px;
  }
  .page-header .block-minicart .dialog_top_cnt .primary_title {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
    text-transform: capitalize;
  }
  .page-header .block-minicart .product {
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .page-header .block-minicart .product .product-item-name h3 {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .page-header .block-minicart .product .product-item-details {
    flex: 1;
  }
  .page-header .block-minicart .product .product-item-details .details-qty {
    padding-bottom: 15px;
    gap: 10px;
  }
  .page-header .block-minicart .product .product-item-details .price_remove .product-item-pricing {
    flex: 1;
  }
  .page-header .block-minicart .product .product-item-details .price_remove .product-item-pricing .price {
    font-weight: 600;
    color: #121212;
  }
  .page-header .block-minicart .note .primary_text {
    padding-bottom: 15px;
  }
  .page-header .block-minicart .note .checkbox_note {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .page-header .nav-section .nav-section-right .nav-section-ctas {
    gap: 20px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas img {
    width: 26px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field {
    width: 26px;
  }
  .page-header .nav-section .nav-section-left .nav-section-filter .hum_menu img {
    width: 26px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1480px) {
  .page-header .nav-section {
    padding: 20px 30px;
    gap: 10px;
  }
  .page-header .nav-section .nav-section-right {
    gap: 30px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field {
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 200px;
    width: 100%;
    justify-content: space-between;
  }
  .page-header .nav-section .nav-section-right .navigation li:first-child {
    padding-left: 0px;
  }
  .page-header .nav-section .nav-section-right .navigation li:last-child {
    padding-right: 0px;
  }
  .page-header .nav-section .nav-section-left {
    gap: 30px;
  }
  .page-header .nav-section .nav-section-logo {
    min-width: 10%;
  }
  .page-header .nav-section .nav-section-logo img {
    width: 120px;
  }
  .page-header .nav-section .navigation .nav_bar {
    display: flex;
    gap: 13px;
  }
  .page-header .nav-section .navigation .nav_bar li a {
    font-size: 15px;
    line-height: 22px;
  }
  .page-header .nav-section .navigation .nav_bar li:first-child {
    padding-left: 0px;
  }
  .page-header .block-minicart .dialog_top_cnt .primary_title {
    font-size: 30px;
    line-height: 42px;
  }
  .page-header .block-minicart .product {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
  }
  .page-header .block-minicart .product .product-item-name h3 {
    font-size: 22px;
    line-height: 32px;
    color: #313131;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .page-header .nav-section {
    padding: 20px 30px;
    gap: 10px;
    box-sizing: border-box;
  }
  .page-header .nav-section .nav-section-logo {
    text-align: center;
  }
  .page-header .nav-section .nav-section-logo img {
    width: auto;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas {
    gap: 25px;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field {
    gap: 20px;
    max-width: 200px;
    width: 100%;
  }
  .page-header .nav-section .nav-section-right .nav-section-ctas .search_field input {
    width: calc(100% - 10%);
  }
  .page-header .nav-section .nav-section-right .navigation li:first-child {
    padding-left: 0px;
  }
  .page-header .nav-section .nav-section-right .navigation li:last-child {
    padding-right: 20px;
  }
  .page-header .nav-section .navigation .nav_bar {
    display: flex;
    gap: 25px;
  }
  .page-header .nav-section .navigation .nav_bar li a {
    font-size: 16px;
    line-height: 24px;
  }
  .page-header .nav-section .navigation .nav_bar li:first-child {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1481px) and (max-width: 1620px) {
  .page-header .nav-section {
    gap: 25px;
  }
  .page-header .nav-section .navigation .nav_bar {
    display: flex;
    gap: 25px;
  }
  .page-header .nav-section .navigation .nav_bar.category {
    display: none;
  }
  .page-header .nav-section .navigation .nav_bar li a {
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
  }
  .page-header .nav-section .navigation .nav_bar li:first-child {
    padding-left: 25px;
  }
}
@media screen and (min-width: 1700px) {
  .page-header .nav-section {
    justify-content: center;
  }
}
footer {
  background-color: #E9E1D3;
}
footer .email_row {
  padding-top: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .email_row .title_block h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  color: #1B1B1B;
  padding-bottom: 5px;
  letter-spacing: 4.4px;
}
footer .email_row .title_block p {
  font-size: 20px;
  line-height: 30px;
  color: #1B1B1B;
}
footer .email_row .email_field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
footer .email_row .email_field .input_field {
  width: 450px;
}
footer .email_row .email_field .input_field input {
  border: 0px;
  outline: none;
  padding: 22px;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  color: #373737;
  background-image: url("../images/mail.webp");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 4% center;
  padding-left: 60px;
  background-color: #FAF4E7;
}
footer .email_row .email_field .input_field input::placeholder {
  color: #373737;
}
footer .email_row .email_field .primary_cta.footer_Cta {
  font-size: 20px;
  line-height: 23px;
  color: #F0E7D9;
  background-color: #454545;
  border-radius: 0px;
  padding: 22px 10px;
  font-weight: 400;
  min-width: 9em;
}
footer .footer_row {
  padding: 60px 0px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  grid-gap: 40px;
  margin: auto;
}
footer .footer_row .footer_block.two_col {
  width: 35%;
}
footer .footer_row .footer_block.two_col .footer_list {
  column-count: 2;
}
footer .footer_row .footer_block .footer_title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #313131;
  margin-bottom: 15px;
  letter-spacing: 2.4px;
}
footer .footer_row .footer_block .footer_list .footer_link {
  font-size: 18px;
  line-height: 25px;
  color: #474747;
  display: block;
  padding: 5px 0px;
  transition: 0.3s ease-in-out;
}
footer .footer_social {
  box-sizing: border-box;
  margin: auto;
}
footer .footer_social .social_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 20px;
  padding-bottom: 22px;
}
footer .footer_social .social_block .social_item {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAF3E7;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}
footer .footer_social .bottom_footer {
  padding-bottom: 55px;
}
footer .footer_social .bottom_footer p {
  color: #6A6A6A;
  font-size: 17px;
  line-height: 23px;
  font-family: 'SF Pro Display', sans-serif;
}
footer .footer_bottom_block {
  background-color: #F5EFE5;
  padding-block: 40px;
}
footer .footer_bottom_block .bottom_inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
footer .footer_bottom_block .bottom_inner .footer_app_link {
  display: flex;
  gap: 10px;
}
footer .footer_bottom_block .bottom_inner .footer_app_link img {
  width: 200px;
}
footer .footer_bottom_block .bottom_inner h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #212121;
}
@media only screen and (max-width: 1024px) {
  footer .email_row {
    padding-top: 30px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  footer .email_row .title_block h2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  footer .email_row .title_block p {
    font-size: 17px;
    line-height: 28px;
    color: #1B1B1B;
  }
  footer .email_row .email_field {
    flex-direction: column;
    gap: 20px;
  }
  footer .email_row .email_field .input_field {
    width: 100%;
  }
  footer .email_row .email_field .input_field input {
    border: 0px;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    background-image: url("../images/mail.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 4% center;
    padding-left: 60px;
    box-sizing: border-box;
    background-color: #FAF4E7;
  }
  footer .email_row .email_field .input_field input::placeholder {
    color: #373737;
  }
  footer .email_row .email_field .primary_cta.footer_Cta {
    font-size: 16px;
    line-height: 18px;
    color: #F0E7D9;
    background-color: #454545;
    border-radius: 0px;
    padding: 10px 10px;
    font-weight: 400;
    min-width: 9em;
  }
  footer .footer_row {
    padding: 20px 0px;
    grid-gap: 15px;
    display: block;
    width: 100%;
  }
  footer .footer_row .footer_block.two_col {
    width: 100%;
  }
  footer .footer_row .footer_block.two_col .footer_list {
    column-count: 1;
  }
  footer .footer_row .footer_block .footer_title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0px;
    padding: 20px 0px;
    border-bottom: 1px solid #B58F53;
    background-image: url("../images/footer_resp_icon.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 98% center;
    letter-spacing: 2px;
  }
  footer .footer_row .footer_block .footer_list {
    display: none;
  }
  footer .footer_row .footer_block .footer_list .footer_link {
    font-size: 18px;
    line-height: 25px;
    color: #474747;
    display: block;
    padding: 5px 0px;
    transition: 0.3s ease-in-out;
  }
  footer .footer_row .footer_block .footer_list .footer_link:hover {
    color: #C5203C;
  }
  footer .footer_social {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }
  footer .footer_social .social_block {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    padding-bottom: 22px;
  }
  footer .footer_social .social_block .social_item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF3E7;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
  }
  footer .footer_social .bottom_footer {
    padding-bottom: 30px;
    text-align: center;
  }
  footer .footer_social .bottom_footer p {
    color: #6A6A6A;
    font-size: 17px;
    line-height: 23px;
    font-family: 'SF Pro Display', sans-serif;
  }
  footer .footer_bottom_block {
    padding-block: 20px;
  }
  footer .footer_bottom_block .bottom_inner {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  footer .footer_bottom_block .bottom_inner h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212121;
    text-align: center;
  }
  footer .footer_bottom_block .bottom_inner .footer_app_link {
    display: flex;
    gap: 20px;
    text-align: center;
  }
  footer .footer_bottom_block .bottom_inner .footer_app_link img {
    width: 170px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .email_row {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .email_row .title_block {
    text-align: left;
  }
  footer .email_row .email_field {
    flex-direction: row;
    gap: 0px;
  }
  footer .email_row .email_field .input_field {
    width: 100%;
  }
  footer .email_row .email_field .input_field input {
    border: 0px;
    outline: none;
    padding: 13px;
    padding-left: 60px;
    box-sizing: border-box;
    background-color: #FAF4E7;
  }
  footer .email_row .email_field .input_field input::placeholder {
    color: #373737;
  }
  footer .email_row .email_field .primary_cta.footer_Cta {
    padding: 15px 10px;
    font-weight: 400;
    min-width: 8em;
  }
  footer .footer_social .social_block {
    justify-content: center;
  }
  footer .footer_social .social_block .social_item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF3E7;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
  }
  footer .footer_bottom_block .bottom_inner {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  footer .footer_bottom_block .bottom_inner h2 {
    text-align: left;
  }
  footer .footer_bottom_block .bottom_inner .footer_app_link {
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  footer .email_row {
    gap: 40px;
  }
  footer .email_row .title_block h2 {
    font-size: 26px;
    line-height: 38px;
  }
  footer .email_row .title_block p {
    font-size: 18px;
    line-height: 30px;
    color: #1B1B1B;
  }
  footer .email_row .email_field .input_field {
    width: 330px;
  }
  footer .email_row .email_field .input_field input {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 60px;
  }
  footer .email_row .email_field .primary_cta.footer_Cta {
    font-size: 18px;
    line-height: 23px;
    padding: 16px 10px;
    min-width: 9em;
  }
  footer .footer_row .footer_block .footer_title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #313131;
    margin-bottom: 10px;
  }
  footer .footer_row .footer_block .footer_list .footer_link {
    font-size: 16px;
    line-height: 24px;
    color: #474747;
    display: block;
    padding: 5px 0px;
    transition: 0.3s ease-in-out;
  }
  footer .footer_social {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }
  footer .footer_social .bottom_footer p {
    color: #6A6A6A;
    font-size: 15px;
    line-height: 21px;
    font-family: 'SF Pro Display', sans-serif;
  }
  footer .footer_bottom_block {
    background-color: #F5EFE5;
    padding-block: 40px;
  }
  footer .footer_bottom_block .bottom_inner {
    flex-wrap: nowrap;
    gap: 20px;
  }
  footer .footer_bottom_block .bottom_inner h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #212121;
  }
  footer .footer_bottom_block .bottom_inner .footer_app_link {
    display: flex;
    gap: 20px;
  }
  footer .footer_bottom_block .bottom_inner .footer_app_link img {
    width: 180px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  footer {
    background-color: #E9E1D3;
  }
  footer .email_row {
    width: 100%;
  }
  footer .email_row .title_block h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    color: #1B1B1B;
    padding-bottom: 5px;
  }
  footer .email_row .title_block p {
    font-size: 18px;
    line-height: 28px;
    color: #1B1B1B;
  }
  footer .email_row .email_field .input_field {
    width: 400px;
  }
  footer .email_row .email_field .input_field input {
    border: 0px;
    outline: none;
    padding: 18px;
    background-position: 4% center;
    padding-left: 60px;
    background-color: #FAF4E7;
  }
  footer .email_row .email_field .input_field input::placeholder {
    color: #373737;
  }
  footer .email_row .email_field .primary_cta.footer_Cta {
    font-size: 16px;
    line-height: 21px;
    color: #F0E7D9;
    background-color: #454545;
    border-radius: 0px;
    padding: 18px 10px;
    font-weight: 400;
    min-width: 10em;
  }
  footer .footer_row {
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    grid-gap: 40px;
    width: 100%;
    margin: auto;
  }
  footer .footer_row .footer_block.two_col {
    width: 35%;
  }
  footer .footer_row .footer_block.two_col .footer_list {
    column-count: 2;
  }
  footer .footer_social {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
  }
  footer .footer_social .social_block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 20px;
    padding-bottom: 22px;
  }
  footer .footer_social .social_block .social_item {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF3E7;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
  }
  footer .footer_social .bottom_footer {
    padding-bottom: 40px;
  }
  footer .footer_social .bottom_footer p {
    color: #6A6A6A;
    font-size: 15px;
    line-height: 21px;
    font-family: 'SF Pro Display', sans-serif;
  }
  footer .footer_bottom_block {
    background-color: #F5EFE5;
    padding-block: 40px;
  }
  footer .footer_bottom_block .bottom_inner {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  footer .footer_bottom_block .bottom_inner h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #212121;
  }
}
@media only screen and (max-width: 1024px) {
  .main_banner {
    margin-top: 0px;
  }
  .main_banner .banner_content {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 80px;
  }
  .main_banner .banner_content h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 0px;
  }
  .main_banner .banner_content p {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: 400;
    line-height: 28px;
    font-weight: 400;
  }
  .main_banner .banner_content .banner_cta_block {
    padding-top: 20px;
    text-align: center;
  }
  .main_banner .banner_content .banner_text {
    display: none;
  }
  .home_categories .categories_inner {
    padding-top: 15px;
  }
  .img_Card span {
    color: #000;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    padding-top: 20px;
    letter-spacing: 2px;
  }
  .section_cnt {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .section_cnt.hero_cnt {
    padding-inline: 25px;
  }
  .section_cnt.hero_cnt p {
    display: none;
  }
  .section_cnt.hero_cnt .section_cta {
    padding-top: 10px;
  }
  .section_cnt.hero_cnt h2 {
    letter-spacing: 2px;
  }
  .section_cnt .section_cta {
    padding-top: 30px;
  }
  .section_cnt p {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  .classic_tradition {
    background-color: #FDF9F3;
  }
  .classic_tradition .section_cnt span {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    display: block;
    letter-spacing: 2px;
  }
  .classic_tradition .tradition_img {
    width: 100%;
  }
  .category_slider .banner_heading {
    position: static;
    background-color: #fff;
    transform: unset;
    padding-top: 15px;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card {
    display: flex;
    position: relative;
    padding: 20px;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_heading {
    font-size: 14px;
    line-height: 22px;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_text {
    display: none;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_btns .card_btn {
    font-size: 14px;
    line-height: 18px;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_btns .card_btn.btn_more {
    display: none;
  }
  .category_slider .slider-wrapper .swiper-container .owl_nav_wrapper {
    max-width: 100px;
  }
  .category_slider .slider-wrapper .swiper-container .owl_nav_wrapper .swiper-scrollbar {
    display: none;
  }
  .product_Card {
    border: 1.5px solid #a2630191;
  }
  .product_Card .img_block .whishlist_icon img {
    width: 20px;
  }
  .product_Card .img_block .show_icon {
    right: 50px;
  }
  .product_Card .img_block .show_icon img {
    width: 20px;
  }
  .product_Card .img_block span.bestseller {
    font-size: 18px;
    color: #42683F;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
  }
  .product_Card:hover .img_block .img_cnt {
    display: none;
  }
  .product_Card:hover .cnt_block .product_title {
    display: block;
  }
  .product_Card:hover .cnt_block .weight {
    display: flex;
  }
  .product_Card .product_title {
    font-size: 16px;
    line-height: 24px;
    color: #313131;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }
  .product_Card .cnt_block {
    padding-block: 15px;
    text-align: center;
  }
  .product_Card .cnt_block .weight {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .product_Card .cnt_block .weight .swatch-option {
    min-width: 6em;
    font-size: 12px;
    line-height: 17px;
    padding: 5px 10px;
  }
  .product_Card .cnt_block .price {
    font-size: 15px;
    line-height: 22px;
  }
  .product_Card .cnt_block .product_cta {
    padding-top: 15px;
    transition: all 600ms ease;
  }
  .product_Card .cnt_block .product_cta .primary_cta {
    min-width: 10em;
    padding: 8px 10px;
  }
  .product_Card .cnt_block .product_cta.hide {
    transition: all 600ms ease;
  }
  .product_Card .cnt_block .product_cta.hide .add_to_basket {
    display: none;
  }
  .product_Card .cnt_block .product_cta.hide .quantity {
    display: inline-block;
    padding: 0px;
  }
  .product_Card .cnt_block .product_cta .quantity {
    display: none;
  }
  .quantity {
    border: 1px solid #A26301;
    overflow: hidden;
    padding: 0px;
  }
  .quantity.primary_cta {
    padding: 0px;
  }
  .quantity:hover {
    background-color: transparent;
  }
  .quantity button {
    background-color: transparent;
    color: #454545;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
  }
  .quantity .input-box {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 17px;
    outline: none;
  }
  .product_category .list_block {
    justify-content: flex-start;
  }
  .product_category .list_block .nav_item:first-child {
    padding-left: 0px;
  }
  .extra_product {
    padding: 18px 15px;
  }
  .extra_product .card_outer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .extra_product .secondary_title {
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    color: #313131;
  }
  .bdcrum .bdcrum_list .bdcrum_item:after {
    margin: 0px 10px 0px;
  }
  .bdcrum .bdcrum_list .bdcrum_item:last-child {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .dilog_product_blog .close_dilog {
    padding: 20px 20px 10px;
  }
  .dilog_product_blog .dialog_inner {
    padding: 30px 5%;
  }
  .ctg_bd {
    margin-top: 115px;
  }
  .page-wrapper.delivery_bar .ctg_bd {
    margin-top: 140px;
  }
  .two_block_outer {
    padding-top: 20px;
    gap: 20px;
  }
  .two_block_outer .left_block {
    padding: 20px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  .two_block_outer .left_block.sender_gift {
    padding: 0px;
  }
  .two_block_outer .left_block.sender_gift form {
    padding: 20px;
  }
  .talk_tehzeeb {
    padding: 20px 20px;
  }
  .talk_tehzeeb .table_checkout .accordion {
    font-size: 17px;
    line-height: 25px;
    margin: 15px 0;
  }
  .talk_tehzeeb .table_checkout .table_checkout_header .table_checkout_heading {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .talk_tehzeeb .table_checkout .table_checkout_col {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0 0;
  }
  .talk_tehzeeb .table_checkout .table_checkout_col.text_end {
    text-align: right;
  }
  .talk_tehzeeb .table_checkout .view_details {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
  }
  .talk_tehzeeb .table_checkout .accordion:after {
    content: "+";
    font-size: 16px;
  }
  .talk_tehzeeb .table_checkout .accordion.active:after {
    content: "-";
    font-size: 22px;
  }
  .talk_tehzeeb .table_checkout .panel {
    padding: 15px 0;
  }
  .talk_tehzeeb .table_checkout .panel .secondary_title {
    padding-bottom: 10px;
  }
  .talk_tehzeeb .table_checkout .panel .secondary_title a {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #4E4E4E;
  }
  .talk_tehzeeb .table_checkout .multiple_address {
    text-align: center;
  }
  .talk_tehzeeb .table_checkout .multiple_address a {
    width: 80%;
    margin: auto;
    border-bottom: 0px;
    text-decoration: underline;
  }
  .talk_tehzeeb .table_checkout .primary_cta {
    padding: 15px 10px;
  }
  .talk_tehzeeb .table_checkout .primary_cta.full {
    min-width: 100%;
  }
  .talk_tehzeeb .table_checkout .accordion_row {
    border-bottom: 1px solid #aaaaaa;
  }
  .talk_tehzeeb .table_checkout .check_pro_block {
    display: flex;
    flex-wrap: wrap;
    padding-block: 20px;
    gap: 10px;
  }
  .talk_tehzeeb .table_checkout .check_pro_block .pro_info h3 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 8px;
  }
  .talk_tehzeeb .table_checkout .checkout_payment_msg {
    padding-top: 20px;
    margin-top: 20px;
  }
  .talk_tehzeeb .table_checkout .checkout_payment_msg h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .talk_tehzeeb .table_checkout .checkout_payment_msg p {
    font-size: 16px;
    line-height: 24px;
    color: #747474;
  }
  .talk_tehzeeb .table_checkout .delivery_time {
    background-color: #fff;
    border-radius: 2px;
    border: 0.5px solid #B0B0B0;
    padding: 4px 14px;
    display: flex;
    margin-block: 10px;
    gap: 10px;
    text-align: center;
  }
  .talk_tehzeeb .table_checkout .delivery_time .text {
    font-size: 12px;
    line-height: 20px;
    color: #6E6E6E;
  }
  .talk_tehzeeb .table_details {
    padding: 0 20px;
  }
  .talk_tehzeeb.top_spacing {
    margin-top: 20px;
  }
  .talk_tehzeeb span {
    padding-bottom: 15px;
  }
  .remomended_recently_section .title {
    font-size: 28px;
    line-height: 38px;
  }
  .product_block.grid_3 {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .fieldset.full {
    width: 100%;
  }
  .fieldset.half {
    width: 100%;
  }
  .fieldset.ten_percent {
    width: calc(35% - 10px);
  }
  .fieldset.eighty_percent {
    width: calc(65% - 10px);
  }
  .fieldset .contactus_subtitle {
    font-size: 20px;
    line-height: 30px;
    color: #38464E;
    padding-top: 10px;
  }
  .image_with_text {
    flex-direction: column-reverse;
  }
  .image_with_text .text_block {
    text-align: center;
  }
  .image_with_text .text_block .title {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .image_with_text .text_block p {
    padding-bottom: 10px;
  }
  .image_with_text .text_block .cta_block {
    padding-top: 10px;
  }
  .image_with_text .text_block .shop_timing .time {
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
  }
  .image_with_text .text_block .store_address {
    padding-bottom: 15px;
  }
  .image_with_text .text_block .store_address .address {
    font-size: 16px;
    line-height: 22px;
  }
  .image_with_text .text_block .location_details {
    font-size: 16px;
    line-height: 24px;
  }
  .image_with_text .common_block {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_banner .banner_content .banner_text {
    display: block;
  }
  .section_cnt {
    max-width: 100%;
    width: 90%;
  }
  .section_cnt.hero_cnt {
    padding-inline: 25px;
  }
  .section_cnt.hero_cnt p {
    display: block;
  }
  .section_cnt.hero_cnt .section_cta {
    padding-top: 30px;
  }
  .category_slider .banner_heading {
    position: absolute;
    top: 45px;
    transform: translateX(-50%);
  }
  .product_block.grid_3 {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
  .fieldset.full {
    width: 100%;
  }
  .fieldset.half {
    width: calc(50% - 10px);
  }
  .fieldset.ten_percent {
    width: calc(20% - 10px);
  }
  .fieldset.eighty_percent {
    width: calc(80% - 10px);
  }
  .image_with_text {
    flex-direction: row;
  }
  .image_with_text .common_block {
    flex: 1;
  }
  .image_with_text .text_block {
    text-align: left;
  }
  .image_with_text .text_block .title {
    text-align: left;
    padding-bottom: 25px;
  }
  .image_with_text .text_block p {
    padding-bottom: 15px;
  }
  .image_with_text .text_block .cta_block {
    padding-top: 15px;
  }
  .image_with_text .text_block .shop_timing .time {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    justify-content: flex-start;
  }
  .image_with_text .text_block .store_address .address {
    font-size: 14px;
    line-height: 20px;
  }
  .image_with_text .text_block .location_details {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1480px) {
  .main_banner .banner_inner {
    padding-top: 100px;
  }
  .main_banner .banner_content {
    max-width: 500px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .main_banner .banner_content h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-size: 36px;
    line-height: 46px;
    font-weight: 400;
    padding-bottom: 24px;
  }
  .main_banner .banner_content p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: 400;
    line-height: 28px;
    font-weight: 400;
  }
  .main_banner .banner_content .banner_cta_block {
    padding-top: 25px;
    text-align: center;
  }
  .section_cnt .section_cta {
    padding-top: 50px;
  }
  .section_cnt p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #6C6C6C;
  }
  .img_Card span {
    color: #000;
    text-align: center;
    font-size: 26px;
    line-height: 34px;
  }
  .classic_tradition .section_cnt span {
    color: #3d3d3d;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 20px;
    display: block;
  }
  .classic_tradition .section_cnt .address {
    color: #1B1B1B;
    padding-bottom: 0px;
    padding-top: 20px;
    font-weight: 500;
  }
  .classic_tradition .tradition_img {
    width: 100%;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card {
    padding: 25px 15px;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_heading {
    font-size: 22px;
    line-height: 30px;
    -webkit-line-clamp: 2;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_text {
    font-size: 18px;
    line-height: 24px;
    -webkit-line-clamp: 2;
  }
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item .card .card_btns .card_btn {
    font-size: 14px;
    line-height: 24px;
    padding: 7px 5px;
  }
  .product_Card .img_block span.img_block {
    font-size: 18px;
  }
  .product_Card .img_block .img_cnt {
    padding: 16px 20px;
  }
  .product_Card .product_title {
    font-size: 22px;
    line-height: 32px;
    color: #313131;
    margin-bottom: 15px;
  }
  .product_Card .cnt_block {
    padding-block: 15px;
    text-align: center;
    padding-inline: 15px;
  }
  .product_Card .cnt_block .weight {
    padding-bottom: 15px;
    display: none;
  }
  .product_Card .cnt_block .price {
    font-size: 18px;
    line-height: 30px;
    color: #313131;
    font-weight: 500;
  }
  .product_Card .cnt_block .product_cta {
    padding-top: 15px;
    transition: all 600ms ease;
  }
  .product_Card .cnt_block .product_cta .primary_cta {
    min-width: 11em;
    text-transform: uppercase;
    font-weight: 500;
  }
  .product_Card .cnt_block .product_cta.hide {
    transition: all 600ms ease;
  }
  .product_Card .cnt_block .product_cta.hide .add_to_basket {
    display: none;
  }
  .product_Card .cnt_block .product_cta.hide .quantity {
    display: inline-block;
  }
  .product_Card .cnt_block .product_cta .quantity {
    display: none;
  }
  .product_category .list_block {
    justify-content: flex-start;
  }
  .product_category .list_block .nav_item:first-child {
    padding-left: 0px;
  }
  .dilog_product_blog .dialog_inner {
    padding: 50px 5%;
  }
  .dilog_product_blog .extra_product {
    padding: 25px 20px;
  }
  .dilog_product_blog .extra_product .card_outer {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
  .ctg_bd {
    margin-top: 130px;
  }
  .page-wrapper.delivery_bar .ctg_bd {
    margin-top: 177px;
  }
  .two_block_outer .left_block {
    max-width: calc(100% - 300px);
    padding: 40px 15px;
  }
  .two_block_outer .left_block.sender_gift {
    padding: 0px;
  }
  .two_block_outer .left_block.sender_gift form {
    padding: 40px 15px;
  }
  .two_block_outer .right_block {
    max-width: 280px;
    width: 100%;
  }
  .talk_tehzeeb {
    padding: 30px 10px;
  }
  .talk_tehzeeb .table_checkout .multiple_address a {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    text-decoration: underline;
    border-bottom: 0px;
  }
  .talk_tehzeeb .table_checkout .accordion {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
  }
  .talk_tehzeeb .table_checkout .table_checkout_header .table_checkout_heading {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .talk_tehzeeb .table_checkout .table_checkout_col {
    font-size: 16px;
    padding: 15px 0 0;
  }
  .talk_tehzeeb .table_checkout .view_details {
    font-size: 17px;
    font-weight: 600;
    line-height: 32px;
    padding-top: 15px;
  }
  .talk_tehzeeb .table_checkout .accordion:after {
    font-size: 15px;
  }
  .talk_tehzeeb .table_checkout .accordion.active:after {
    content: "-";
    font-size: 18px;
  }
  .talk_tehzeeb .table_checkout .panel {
    display: none;
    overflow: hidden;
    padding: 15px 0;
  }
  .talk_tehzeeb .table_checkout .panel .secondary_title {
    padding-bottom: 15px;
  }
  .talk_tehzeeb .table_checkout .panel .secondary_title a {
    text-decoration: none;
    font-size: 13px;
    line-height: 24px;
    color: #4E4E4E;
    white-space: normal;
  }
  .talk_tehzeeb .table_checkout .block_cta {
    padding-bottom: 15px;
  }
  .talk_tehzeeb .table_checkout .block_cta .primary_cta {
    font-size: 15px;
    line-height: 20px;
    padding: 9px 15px;
  }
  .talk_tehzeeb .table_checkout .check_pro_block {
    flex-wrap: wrap;
  }
  .talk_tehzeeb .table_checkout .check_pro_block .pro_info h3 {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 8px;
  }
  .talk_tehzeeb .table_checkout .checkout_payment_msg h3 {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    padding-bottom: 8px;
  }
  .talk_tehzeeb .table_checkout .checkout_payment_msg p {
    font-size: 16px;
    line-height: 24px;
    color: #747474;
  }
  .talk_tehzeeb .table_checkout .delivery_time {
    background-color: #fff;
    border-radius: 2px;
    border: 0.5px solid #B0B0B0;
    padding: 4px 14px;
    display: flex;
    margin-block: 10px;
    gap: 10px;
  }
  .talk_tehzeeb .table_checkout .delivery_time .text {
    font-size: 13px;
    line-height: 20px;
    color: #6E6E6E;
  }
  .talk_tehzeeb .table_details {
    padding: 0 15px;
  }
  .talk_tehzeeb.top_spacing {
    margin-top: 30px;
  }
  .talk_tehzeeb span {
    padding-bottom: 15px;
  }
  .fieldset.ten_percent {
    width: calc(20% - 10px);
  }
  .fieldset.eighty_percent {
    width: calc(80% - 10px);
  }
  .image_with_text .common_block {
    width: 100%;
  }
  .image_with_text .text_block .title {
    font-size: 28px;
    line-height: 38px;
  }
  .image_with_text .text_block p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .image_with_text .text_block .shop_timing .time {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
  .image_with_text .text_block .store_address {
    padding-bottom: 15px;
  }
  .image_with_text .text_block .store_address .address {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  .image_with_text .text_block .location_details {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .section_cnt {
    max-width: 1000px;
    width: 100%;
    margin: auto;
  }
  .ctg_bd {
    margin-top: 170px;
  }
  .page-wrapper.delivery_bar .ctg_bd {
    margin-top: 220px;
  }
  .two_block_outer .left_block {
    max-width: calc(100% - 470px);
    padding: 40px 20px;
  }
  .two_block_outer .left_block.sender_gift {
    padding: 0px;
  }
  .two_block_outer .left_block.sender_gift form {
    padding: 40px 20px;
  }
  .two_block_outer .right_block {
    max-width: 450px;
    width: 100%;
  }
  .talk_tehzeeb {
    padding: 30px 15px;
  }
  .talk_tehzeeb .table_checkout .accordion {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
  }
  .talk_tehzeeb .table_checkout .table_checkout_header .table_checkout_heading {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .talk_tehzeeb .table_checkout .table_checkout_col {
    font-size: 16px;
    padding: 15px 0 0;
  }
  .talk_tehzeeb .table_checkout .view_details {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    padding-top: 15px;
  }
  .talk_tehzeeb .table_checkout .accordion:after {
    font-size: 15px;
  }
  .talk_tehzeeb .table_checkout .accordion.active:after {
    content: "-";
    font-size: 18px;
  }
  .talk_tehzeeb .table_checkout .panel {
    display: none;
    overflow: hidden;
    padding: 15px 0;
  }
  .talk_tehzeeb .table_checkout .panel .secondary_title {
    padding-bottom: 10px;
  }
  .talk_tehzeeb .table_checkout .panel .secondary_title a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #4E4E4E;
  }
  .talk_tehzeeb .table_checkout .block_cta {
    padding-bottom: 15px;
  }
  .talk_tehzeeb .table_checkout .block_cta .primary_cta {
    font-size: 15px;
    line-height: 20px;
    padding: 9px 15px;
  }
  .talk_tehzeeb .table_checkout .view_details_content {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 25px;
  }
  .talk_tehzeeb .table_checkout .multiple_address a {
    border-bottom: 0px;
    text-decoration: underline;
  }
  .talk_tehzeeb .table_checkout .check_pro_block {
    flex-wrap: nowrap;
  }
  .talk_tehzeeb .table_details {
    padding: 0 15px;
  }
  .talk_tehzeeb.top_spacing {
    margin-top: 30px;
  }
  .talk_tehzeeb span {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 520px) {
  .category_slider .banner_heading {
    top: 15px;
  }
}
@media screen and (min-width: 1025px) {
  .category_slider .slider-wrapper .swiper-container .swiper-wrapper .product_item:hover .card {
    display: flex;
  }
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .main_banner.about_us .banner_inner .banner_block .banner_content .banner_heading h3 {
    text-align: center;
  }
  .main_banner.about_us .banner_inner .banner_block .banner_content .banner_text p {
    text-align: center;
  }
}
